.popup {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .popup {
    padding: 0 19px;
  }
}
