.popup__container {
  background-color: #ffffff;
  padding: 36px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  max-width: 430px;
  max-height: 330px;
}

@media screen and (max-width: 767px) {
  .popup__container {
    padding: 25px 22px;
  }
}
