.popup__overlay {
  max-width: 430px;
  max-height: 330px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .popup__overlay {
    padding: 0 19px;
  }
}