.profile__add-card-botton {
  display: flex;
  margin-left: auto;
  min-width: 150px;
  min-height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.profile__add-card-botton:hover {
  opacity: 0.6;
  transition: 0.5s;
}

@media screen and (max-width: 767px) {
  .profile__add-card-botton {
    margin-left: 0;
    margin-top: 34px;
    width: 100%;
  }
}
