.popup__close {
  position: absolute;
  z-index: 1;
  right: -40px;
  top: -40px;
}

.popup__close:hover {
  opacity: 0.5;
  transition: 0.5s;
}

@media screen and (max-width: 767px) {
  .popup__close {
    top: -20px;
    right: 19px;
  }
}
